{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Add Club</h1>
            <form method="POST" action="{%  url 'add_club' %}">
                {%  csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Dynamo">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="location" id="location" placeholder="Kyiv">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
