h1 {
    color: orangered;
}

.navbar-brand {
    color: lightsteelblue;
    font-size: 44px
}

.nav-item {
    color: indianred;
    font-size: 22px;
    font-weight: bold;
}

.name-image {
    display: inline-flex;
}

.card-img {
    width: 90px;

}